# -*- coding: utf-8 -*-

# This is a sample file. You should use generate_user_files.py
# to create your user-config.py file.

mylang = 'en'
family = 'wikipedia'
usernames['wikipedia']['en'] = 'Test'
# Optional (add this line to you need not ever type a password)
authenticate['en.wikipedia.org'] = ('Test','XXXXX') # where Test is your login name, and XXXXX your password.